/*****Page layout******/
html {
    font-size: 16px;
    /* overflow: hidden; */
    height: 100%;
    margin: 0;
}

body{
    z-index:-99999;
    background-image: radial-gradient(circle,rgb(56, 49, 49) 15%, black 85%)
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

[class^="flex"] {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-actions{
    border: 1px solid black;
    flex-flow: row nowrap;
}

#page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
    position: relative;
    border: 1px solid green;
    padding: 0;
}

#page-wrapper::after{
    content: "";
    position: absolute;
    background: url(Poker-Table.svg);
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    background-size: 100% 100%;
    z-index: -120000;
}
h1,.winnerText {
    font-family: 'Artifika';
    text-align: center;
    font-size: 3em;
}

h1 {
    color: #591E1E;
}

.winnerText {
    color: black;
}

/******Playing Area ******/
#gameArea {
    margin-top: 50px;
    height: 600px;
    width: 110%;
    border: solid 1px greenyellow;
    position: relative;
}

#playerArea, #dealerArea {
    position: absolute;
    border: solid 1px yellow;
    height: 100px;
    width: 270px;
    padding-bottom: 10px;
}

#playerArea{
    left: 40%;
    bottom: 0;
}


#playerActions {
    display: block;
}

#winnerArea {
    height: 50px; 
    margin-bottom: 20px;
}

/*** Images *****/
#playerArea img,
#dealerArea img {
    width: 60px;
    height: 100px;
}

#dealer-img {
    max-width: 100px !important;
    width: 100px;
    height: 100px;
    margin: 0 5px;
    float: right;
}   

/**** BUTTONS ****/
.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #FFEF19;
    padding: 0.2em;
    font-size: 1.2em;
}

.button:hover {
    background-color: white;
    color: grey;
}

/*****SCORE*****/
.score{
    background: #ddd;
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 2.8em;
    padding-left:5px;
}

#playerScore, #dealerScore {
    right:100px;
}

#dealerScore {
    top: 250px;
}
#playerScore{
    top: 400px;
}

/** Win Count **/
.count{
    background: #ddd;
    width: 100px;
    height: 20px;
}

/** Player Name **/
